version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-name: "gradient"
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
      - "automated"
